* {
    -webkit-tap-highlight-color: rgba(#fff,0.0);
    -webkit-touch-callout: none;
}
body,div,p,blockquote,hr,ul,ol,li,h1,h2,h3,h4,h5,h6,menu,dd,dl,form,fieldset,input,button,textarea,caption,select,button,input,pre,hr,td,th,address,section,article,aside,header,footer,nav,dialog,figure,hgroup,label,span,strong,i,s,a {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}
em,i,strong {
    font-style: normal;
}
ul,ol,li {
    list-style: none;
}
img {
    border: none;
    vertical-align: middle;
}
input,select,textarea,button {
    border: none;
    font-size: 100%;
    outline: none;
    -webkit-appearance: none;
}
//layout
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a,button,input{
    -webkit-tap-highlight-color: rgba(#fff,0.0);
    outline: none;
}
body, html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}
.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
